{{!< default}}
<div class="site-about">
  <div class="site-sectionheader">
    <h1>{{@blog.title}}</h1>
    <hr class="site-hr"></hr>
  </div>
  <p class="blog-description">{{@blog.description}}</p>
</div>
<div class="site-sectionheader">
  <h1>Blog Posts</h1>
  <hr class="site-hr"></hr>
</div>

{{> loop}}
