{{!< default}}
{{#post}}
  <article class="post">
    <h2 class="post-title postpage-title">{{title}}</h2>
    <h3 class="post-date">{{date format="DD MMMM YYYY"}}</h3>
    <div class="post-content">
      {{content}}
    </div>
  </article>
  <a class="back-to" href="/">Back To Home</a>
{{/post}}
