* {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-sans;
  color: $grey-dark;
}

.site-wrapper {
  width: 100%;
  .site-wrapper-inner {
    width: 70%;
    margin: 0 auto;
    @include bp(1400down) {
      max-width: 900px;
    }
  }
}
