.site-about {
  margin-bottom: 4em;
}
.site-sectionheader {
  margin-bottom: 2.5em;
  h1 {
    font-size: 2em;
    font-weight: normal;
    color: $grey-dark;
    margin-bottom: 0.5em;
  }
}
.site-hr {
  border: none;
  height: 8px;
  background-color: #F0815C;
  width: 40px;
  border-radius: 40px;
}
.blog-description {
  font-size: 1.375em;
  color: $grey-light;
  font-family: $font-sans;
  line-height: 1.75em;
  max-width: 820px;
}
